.home-container .hero-container {
    background-color: #FF5A5F;
    height: 500px;
}

.spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 80px;
    flex-direction: row;
    margin-top: 20px;
    border: 2px solid red;
}

.home-container h1 {
    display: flex;
    justify-content: center;
}
