.home-container .title-container {
    background-color: #FF5A5F;
}

.spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 60px;
    margin-top: 20px;
    border: 2px solid red;
}
