#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.249);
  backdrop-filter: blur(10px);
}

#modal-content {
  position: fixed;
  background-color: rgb(242, 224, 244);

  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.345);
  backdrop-filter: blur(10px);

  width: 450px;
}
