.review-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 0;
    color: rgb(138, 43, 226);
    width: 450px;
}

/* ----- STAR RATING ------ */
.star-rating-container {
    display: flex;
    flex-direction: row;
}

.gray-full-stars {
    height: 45px;
    width: 45px;
}

.star-rating-container p {
    font-size: 30px;
    padding-left: 5px;
    padding-top: 10px;
}
/* ------------------------ */

.review-form-container .divider {
    height: 2px;
    width: 100%;
    margin: 10px 0 0;
    background-color: rgba(137, 43, 226, 0.178);
}

/* ----- REVIEW FORM ------ */

.review-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px;
}

.review-form-container .review-form-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-form-container .review-form-bottom textarea {
    all: unset;
    background-color: rgb(224, 206, 225);
    width: 380px;
    height: 120px;
    padding: 5px;
    border-radius: 10px;
}

.review-form-container .review-form-bottom button {
    all: unset;
    display: flex;
    justify-content: center;
    background-color: rgb(138, 43, 226);
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.review-form-container .review-form-bottom button:hover {
    background-color: rgb(220, 183, 255);
    color: rgb(138, 43, 226);
}

.review-form-container .review-form-bottom button:disabled {
    background-color: rgba(30, 1, 57, 0.42);
}


/* ------------------------ */
