.spotitem-container {
    flex: 0 0 270px;
    margin: 5px;
    border: 2px solid red;
}

.image-container {
    height: 270px;
    width: 270px;
    border: 2px solid red;
    border-radius: 20px;
}

.info-container {
    margin-top: 5px;
}
