.spot-details {
    margin: 20px 120px 0 120px;
    color: rgb(138, 43, 226);
}

.spot-details .spot-name {
    font-size: 40px;
    font-weight: bold;
}

.spot-details .spot-location {
    font-size: 20px;
}

.images-container {
    position: relative;
    width: 100%;

    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-image-container {
    position: relative;
    width: 772px;
}

.main-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.side-images-container {
    display: flex;
    flex-wrap: wrap;
    width: 490px;
    gap: 10px;
}

.image-boxes {
    width: 240px;
    height: 240px;
}

.top-left-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.top-right-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
}

.bottom-left-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.bottom-right-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 15px;
}

/* -------------- DESCRIPTION CONTAINER -------------- */
.description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.description-container .name-and-description {
    flex-direction: column;
    width: 750px;
}

.name-and-description .desc-divider {
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background-color: rgba(137, 43, 226, 0.178);
}

.name-and-description .host-name {
    font-weight: bold;
    font-size: 30px;
}

/* -----  RESERVE CONTAINER ----- */
.description-container .reserve-container {
    position: relative;
    width: 400px;
    height: 100%;
    padding: 15px;
    border-radius: 10px;;
    background-color: rgb(138, 43, 226);
    color: rgb(242, 224, 244);
}

/* ----- PRICE CONTAINER ----- */
.description-container .reserve-container .price-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description-container .reserve-container .price-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.description-container .price-container .v-price {
    display: flex;
    align-items: flex-end;
    padding: 0;
    gap: 5px;
    font-size: 25px;
    font-weight: bold;
}

.price-container .per-night {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 2.3px;
    margin-left: 4px;
}

.price-container #vbucks {
    height: 21px;
    margin-right: 3px;
}

.rating-and-star {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 20px
}

.rating-and-star .star-details {
    max-width: 24px;
    max-height: 24px;
}

.rating.new {
    font-weight: bold;
    font-style: italic;
    padding-right: 9px;
}
/* --------------------------- */

.reserve-container .desc-divider {
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background-color: rgb(242, 224, 244);
}

/* ------- BUTTON ------- */

.reserve-container button {
    all: unset;

    display: flex;
    justify-content: center;

    padding: 12px 0;
    width: 100%;

    border-radius: 10px;
    background-color: rgb(242, 224, 244);

    color: rgb(138, 43, 226);
    font-weight: bold;
}

.reserve-container button:hover {
    background-color: rgb(220, 183, 255);
    color: rgb(138, 43, 226);
}
/* ---------------------- */

.spot-details .desc-dividerr {
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background-color: rgba(137, 43, 226, 0.178);
}

/* ------ REVIEWS CONTAINER ------ */
.reviews-container {
    padding: 0 0 20px 0;

    /* border: 2px solid red; */
}

.rating-reviews {
    display: flex;
    flex-direction: row;
}

/* -- NO REVIEWS -- */
.rating-reviews .rating.new {
    font-size: 30px;
}

.reviews-container .no-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 30px;
}
/* -- ---------- -- */

/* -- POST REVIEW BUTTON -- */
.reviews-container .postreview-button {
    all: unset;
    color: white;
    padding: 10px 15px;
    background-color: rgb(138, 43, 226);
    border-radius: 15px;
    font-weight: bold;
}

.reviews-container .postreview-button:hover {
    background-color: rgb(220, 183, 255);
    color: rgb(138, 43, 226);
}
/* -- ------------------ -- */

.reviews-container .rating-reviews {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
    padding-bottom: 10px;
}

.reviews-container .rating-reviews .rating-review {
    margin-top: 6px;
}

.rating-reviews .star-details {
    max-width: 40px;
    max-height: 40px;
}

/* ------ INDIVIDUAL REVIEWS ------ */
.reviews-container .user-reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
}

.user-reviews .review {
    width: 49%;
    padding: 10px 0px 10px 10px;
    border-left: 2px solid rgba(137, 43, 226, 0.255);
}

.review .stars-date {
    display: flex;
    flex: row;

    gap: 5px;
}

.user-reviews .review-owner {
    font-weight: bold;
    font-size: 20px;
}

.user-reviews .review-text {
    font-size: 20px;
}

.user-reviews .delete-review-button {
    all: unset;
    padding: 5px 10px;
    background-color: rgb(138, 43, 226);;
    color: rgb(242, 224, 244);
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.user-reviews .delete-review-button:hover {
    background-color: rgb(255, 94, 94);
}
/* ------ ------------------ ------ */

.no-reviews {
    margin-top: 20px;
}
