.spot-details {
    margin: 20px 120px 0 120px;
}

.images-container {
    position: relative;
    height: 450px;
    width: 100%;

    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 2px solid red;
}

.main-image-container {
    position: relative;
    width: 750px;

    border: 2px solid blue;
}

.main-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.side-images-container {
    width: 490px;

    border: 2px solid blue;
}


.description-container {
    margin-top: 20px;

    border: 2px solid red;
}

.reviews-container {
    margin-top: 20px;
    border-top: 2px solid gray;
}

.rating-and-star {
    display: flex;
    flex-direction: row;
}

.rating-reviews {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.star-details {
    max-width: 24px;
    max-height: 24px;
}

.user-reviews {
    margin-top: 20px;
}

.no-reviews {
    margin-top: 20px;
}
