.error {
    color: red;
}

form {
    margin: 20px 500px;
}

input {
    width: 100%;
    height: 40px;
}

.input-area {
    margin-top: 10px;
}

.input-area  div {
    margin-top: 10px;
}

.photos-section > div > input {
    display: flex;
    flex-direction: column;
}

.description-section {
    border-top: 3px solid gray;
    margin-top: 20px;
}

.description-section > .input-area > .description-form > textarea {
    width: 100%;
    height: 150px;
}

.title-section {
    border-top: 3px solid gray;
    margin-top: 20px;
}

.price-section {
    border-top: 3px solid gray;
    margin-top: 20px;
}

.photos-section {
    border-top: 3px solid gray;
    margin-top: 20px;
}

.photos-section > .input-area > div > input {
    margin-top: 10px;
}

.button-section {
    border-top: 3px solid gray;
    margin-top: 20px;
}
