/* TODO: Add sitewide styles */
* {
    font-family: 'Gilroy';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;

    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(211,156,255,1) 100%);
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
}
