.navigation-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(120, 48, 255);
  height: 70px;
  width: 100%;
  top: 0;
}

.logo-png {
  height: 40px;
  margin: 0 80px;
  border: 2px solid red;
}

.signup-login-container {
  margin: 0 80px;
  border: 2px solid red;
}

.logged-in {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 80px;
}

.logged-in a {
  text-decoration: none;
}

.profile-dropdown {
  position: absolute;
  bottom: 645px;
  right: 80px;
  border: 2px solid red;
}

.hidden {
  display: none;
}

.signup-button, .login-button {

}
