.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(211, 187, 255);
  height: 70px;
  top: 0;
  margin: 0 60px;
}

.logo {
  font-size: 50px;
}

/* .session-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
} */

.profile-dropdown {
  position: absolute;
  right: 0;
}

.hidden {
  display: none;
}
