.login-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 10px 0;
    width: 450px;
    color: rgb(138, 43, 226);
}

/* ---------------- HEADER ---------------- */

.login-modal-container .top-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 9px;

    width: 100%;
}

.login-modal-container .top-divider span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgba(137, 43, 226, 0.178);
}

/* ---------------- LOGIN FORM + BUTTON ---------------- */

.login-modal-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding: 20px 0;
}

.login-modal-container .login-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5px;

    width: 380px;
    height: 45px;

    background: rgb(138,43,226);
    border: none;
    border-radius: 10px;
}

.login-modal-container .error {
    color: red;
}

.login-modal-container .input-container {
    display: flex;
    flex-direction: column;
}

.login-modal-container .login-button h4 {
    color: white;
}

.login-modal-container .login-button:disabled {
    background-color: rgba(30, 1, 57, 0.42);
}

.login-modal-container input {
    width: 380px;
    border: none;
    padding: 10px;
    background-color: rgb(224, 206, 225);
    color: rgb(138, 43, 226);
}

.login-modal-container input:focus {
    outline: none;
}

.login-modal-container input:focus::placeholder {
    color: transparent;
}

.login-modal-container input::placeholder {
    color: rgb(138,43,226);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 0px 1000px rgb(224, 206, 225) inset;
}


/* ---------------- FOOTER + BUTTONS ---------------- */

.login-modal-container .bottom-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;

    gap: 15px;
    width: 100%
}

.login-modal-container .bottom-divider span {
    display: block;
    height: 2px;
    width: 190px;
    background-color: rgba(137, 43, 226, 0.178);
}

/* --- styling for all "Continue with buttons" */
.continue-with-button, .login-modal-container .demo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;

    background: rgb(242, 224, 244);
    border: 2px solid rgb(138, 43, 226);
    border-radius: 10px;

    width: 380px;
    height: 45px;
}

.continue-with-button img, .login-modal-container .demo img {
    height: 20px;
    position: absolute;
    left: 10px;
}

.continue-with-button h4, .login-modal-container .demo h4 {
    color: rgb(138, 43, 226);
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

/* button hover effects */
.continue-with-button:hover, .demo:hover {
    background: rgb(138, 43, 226);
}

.continue-with-button:hover h4, .demo:hover h4 {
    color: rgb(255, 255, 255);
}

/* add margin-top to demo user button */
.login-modal-container .demo {
    margin-top: 10px;
}

.bottom-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.login-modal-container .dont-have-account p {
    font-size: 15px;
}

.login-modal-container .dont-have-account {
    margin: 10px 0;

}

.login-modal-container .signup-letters {
    color: rgb(138, 43, 226);
    all: unset;
    text-decoration: underline;
}
